// Import
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);

// Grid - by https://rsms.me/raster/
@import url(https://raw.githubusercontent.com/rsms/raster/master/raster.grid.css);

// Variables
$primary: #2e2e2e;

// Structure
.container{
    max-width: 960px;
    margin: 0 auto;
    width: 80%;
}

// Typography


// Elements
