Options +FollowSymLinks +ExecCGI

<IfModule mod_rewrite.c>

# Redirect all at index

RewriteEngine On
RewriteCond %{REQUEST_URI}  !(\.png|\.jpg|\.gif|\.jpeg|\.bmp|\.js|\.css)$
RewriteRule (.*) index.php [QSA]

</IfModule>
