// Variables
$body:                white;
$primary:             #016BA7;
$dark:                darken($primary, 20%);
$color:               #333333;
$light:               lighten($color, 60%);
$background:          #f3f4f4;
$heading:             #333333;
$border:              1px #eaeaea solid;
$columns:             12;
$font-family:         'Inter', sans-serif;
$font-size:           1.2rem;
$line-height:         1.8;
$spacer:              2rem;
$padding:             $spacer/2 $spacer;

// Reset
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

// Fonts
@import url('https://cdn.rawgit.com/tonsky/FiraCode/1.205/distr/fira_code.css');

*{
    font-family: $font-family;
    font-weight: 400;
    line-height: $line-height;

    &, &::before, &::after {
        box-sizing: border-box;
    }
}

body{
    font-size: $font-size;
	min-height: 100%;
    background-color: $body;
    color: $color;
}

.container{
    max-width: 960px;
    margin: 0 auto;
    width: 80%;
}

hr{
    border: 0;
    border-bottom: $border;
    margin: $spacer 0;
}

pre{
    background: $background;
    color: $primary;
    padding: $spacer;
    margin: $spacer 0;
    font-family: monospace;
    overflow-x: scroll;
}

img{
    max-width: 100%;
    height: auto;
}

// Typography
h1, h2, h3, h4, h5, h6{
    margin: $spacer*2 0 $spacer 0;
    color: $heading;
    font-family: $font-family;
    font-weight: bold;
}

h1{
    font-size: $font-size * 2;
    font-weight: 600;
    margin-top: 0;
}

h2{
    font-size: $font-size * 1.8;
}

h3{
    font-size: $font-size * 1.6;
}

h4{
    font-size: $font-size * 1.4;
}

h5{
    font-size: $font-size * 1.2;
}

h6{
    font-size: $font-size;
}

p{
    font-size: $font-size;
    margin: 0;
    margin-bottom: $spacer/2;
    line-height: $line-height;
}

ul, ol{
    font-size: $font-size;
    margin: $spacer/2 0;
}

a{
    color: $primary;
    text-decoration: underline;
    transition: all .2s;

    &:hover{
        color: $dark;
    }
}

code{
    font-family: monospace;
    background: $background;
    color: $heading;
}

small{
    font-size: $font-size*0.7;
}

// Elements
button{
    cursor: pointer;
    border: $border;
    border-color: $primary;
    padding: $padding;
    border-radius: $spacer;
    text-decoration: none;
    transition: all .2s;
    background: $primary;

    @if (lightness($primary) > 50) {
        color: #000000;
    } @else {
        color: #ffffff;
    }
}


// Blocks
header, footer, article{
    margin: $spacer 0;
    padding: $spacer 0;
}

header{
    border-bottom: $border;
    margin-top: 0;
}

footer{
    border-top: $border;
    margin-bottom: 0;
    color: $light;
}

// Table
table{
    width: 100%;
    border-spacing: 0;

    thead{
        > tr {
            > th{
                padding: $padding;
                background: $background;
                font-weight: bold;
                text-align: left;
                border-bottom: $border;
            }
        }
    }

    tbody{
        > tr {
            > td {
                padding: $padding;
                border-bottom: $border;
            }
        }
    }
}
